.hidden {
  display: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-red {
  color: #b0120a;
}
.text-blue {
  color: #3a46b1;
}
.text-yellow {
  color: #cddc39;
}
.text-green {
  color: #259b24;
}
.text-gold {
  color: #827717;
}
.text-gray {
  color: #9e9e9e;
}
.bg-orange,
.bg-purple,
.bg-rainbow,
.bg-teal,
.bg-black,
.bg-gray,
.bg-blue,
.bg-darkblue,
.bg-cyan {
  color: #fafafa;
}
.bg-black {
  background-color: #000;
}
.bg-purple {
  background-color: #651fff;
}
.bg-teal {
  background-color: #009688;
}
.bg-gray {
  background-color: #757575;
}
.bg-cyan {
  background-color: #006064;
}
.bg-blue {
  background-color: #03a9f4;
}
.bg-darkblue {
  background-color: #0d47a1;
}
.bg-orange {
  background-color: #ff5722;
}
.bg-rainbow {
  color: #f0f0f0!important;
  background: -moz-linear-gradient(left, #e51c23, #ef6c00, #259b24, #5677fc, #3f51b5, #673ab7);
  background: -webkit-gradient(linear, left center, right center, from(#e51c23), color-stop(14%, #ef6c00), color-stop(42%, #259b24), color-stop(56%, #5677fc), color-stop(70%, #3f51b5), to(#673ab7));
  background: -o-linear-gradient(left, #e51c23, #ef6c00, #259b24, #5677fc, #3f51b5, #673ab7);
  background: -ms-linear-gradient(left, #e51c23, #ef6c00, #259b24, #5677fc, #3f51b5, #673ab7);
}
.class-badge {
  width: 100px;
  border-radius: 10px;
}
.no-margin-left {
  margin-left: 0!important;
}
.vertical-center {
  vertical-align: middle;
}
.wrap-container {
  flex-wrap: wrap;
}
.top-margin-5 {
  margin-top: 5px;
}
.top-margin-15 {
  margin-top: 15px;
}
.align-left-list-item {
  padding-top: 16px;
  align-self: flex-start;
}
.super-bold {
  font-weight: 800;
}
.max-width,
.tab-content {
  width: 100%;
}
.is-flex {
  display: flex;
}
.flex-scroll {
  flex: 1 1 auto;
  overflow-y: scroll;
  min-height: 100px;
}
.hidden-x {
  overflow-x: hidden;
}
.inner-card {
  padding: 0;
}
.card-padding {
  padding: 8px;
}
.auto-flex {
  flex: 1 1 auto;
}
.bottom-padding-8 {
  padding-bottom: 8px;
}
.hover-cursor:hover {
  cursor: pointer;
}
[flex="25"] {
  flex: 0 0 25%!important;
}
[flex="33"] {
  flex: 0 0 33%!important;
}
[flex="50"] {
  flex: 0 0 50%!important;
  width: 50%;
}
[flex="55"] {
  flex: 0 0 55%!important;
}
[flex="20"] {
  flex: 0 0 20%!important;
}
[flex="8"] {
  flex: 0 0 8.33%!important;
}
.inline-link {
  cursor: pointer;
  color: #03A9F4;
  text-decoration: underline;
}
body {
  overflow-y: hidden;
}
[offset="5"] {
  margin-left: 5%;
}
[offset="10"] {
  margin-left: 10%;
}
[offset="15"] {
  margin-left: 15%;
}
[offset="20"] {
  margin-left: 20%;
}
[offset="25"] {
  margin-left: 25%;
}
[offset="30"] {
  margin-left: 30%;
}
[offset="35"] {
  margin-left: 35%;
}
[offset="40"] {
  margin-left: 40%;
}
[offset="45"] {
  margin-left: 45%;
}
[offset="50"] {
  margin-left: 50%;
}
[offset="55"] {
  margin-left: 55%;
}
[offset="60"] {
  margin-left: 60%;
}
[offset="65"] {
  margin-left: 65%;
}
[offset="70"] {
  margin-left: 70%;
}
[offset="75"] {
  margin-left: 75%;
}
[offset="80"] {
  margin-left: 80%;
}
[offset="85"] {
  margin-left: 85%;
}
[offset="90"] {
  margin-left: 90%;
}
[offset="95"] {
  margin-left: 95%;
}
[offset="33"],
[offset="34"] {
  margin-left: 33.33%;
}
[offset="66"],
[offset="67"] {
  margin-left: 66.66%;
}
.has-height {
  height: 1px;
}
md-card md-card-content {
  padding: 0!important;
}
.italic {
  font-style: italic;
}
.hide-y-scrollbar {
  overflow-y: hidden;
}

#login-tabs .tab {
  height: 300px;
  padding: 5px;
  padding-left: 20px;
}
#login-tabs .box-text {
  margin-top: 15px;
}

body {
  background-color: #fff;
}

#player-tabs,
#pet-tabs {
  display: flex;
}
#player-tabs .md-tabs-content,
#pet-tabs .md-tabs-content,
#player-tabs .md-tab-content,
#pet-tabs .md-tab-content,
#player-tabs .tab,
#pet-tabs .tab {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
#player-tabs .item-line,
#pet-tabs .item-line {
  margin-left: 10px;
}
#player-tabs .vital-stat,
#pet-tabs .vital-stat {
  padding-bottom: 8px;
}
#player-tabs md-list,
#pet-tabs md-list {
  padding: 0;
}
#player-tabs .xeditable-form-button,
#pet-tabs .xeditable-form-button {
  margin-left: 5px;
}
#player-tabs .adventure-log-entry,
#pet-tabs .adventure-log-entry {
  min-height: 70px;
}
.player-xp .md-container {
  background-color: #a3e9a4;
  margin-top: -5px;
}
.md-bar.md-bar2 {
  background-color: #0a7e07;
}
#map {
  width: 100%;
}
.inline-button {
  font-size: 90%;
  vertical-align: middle;
}
.inline-button .md-button-inner {
  padding: 3px;
}
statistics-tree table {
  width: 100%;
  border-spacing: 0;
}
.personality-switch {
  margin-left: 15px;
  margin-top: 8px;
}
.adventure-log-item {
  max-height: 80px;
  align-items: center;
}
.extended-input {
  width: 400px;
}
.extended-input input {
  width: 100%;
}
