.hidden {
  display: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-red {
  color: #b0120a;
}
.text-blue {
  color: #3a46b1;
}
.text-yellow {
  color: #cddc39;
}
.text-green {
  color: #259b24;
}
.text-gold {
  color: #827717;
}
.text-gray {
  color: #9e9e9e;
}
.bg-orange,
.bg-purple,
.bg-rainbow,
.bg-teal,
.bg-black,
.bg-gray,
.bg-blue {
  color: #fafafa;
}
.bg-black {
  background-color: #000;
}
.bg-purple {
  background-color: #651fff;
}
.bg-teal {
  background-color: #009688;
}
.bg-gray {
  background-color: #757575;
}
.bg-blue {
  background-color: #03a9f4;
}
.bg-orange {
  background-color: #ff5722;
}
.bg-rainbow {
  color: #f0f0f0!important;
  background: -moz-linear-gradient(left, #e51c23, #ef6c00, #259b24, #5677fc, #3f51b5, #673ab7);
  background: -webkit-gradient(linear, left center, right center, from(#e51c23), color-stop(14%, #ef6c00), color-stop(42%, #259b24), color-stop(56%, #5677fc), color-stop(70%, #3f51b5), to(#673ab7));
  background: -o-linear-gradient(left, #e51c23, #ef6c00, #259b24, #5677fc, #3f51b5, #673ab7);
  background: -ms-linear-gradient(left, #e51c23, #ef6c00, #259b24, #5677fc, #3f51b5, #673ab7);
}
.class-badge {
  width: 100px;
  border-radius: 10px;
}
.no-margin-left {
  margin-left: 0!important;
}
.vertical-center {
  vertical-align: middle;
}
.wrap-container {
  flex-wrap: wrap;
}
.top-margin-5 {
  margin-top: 5px;
}
.align-left-list-item {
  padding-top: 16px;
  align-self: flex-start;
}
.super-bold {
  font-weight: 800;
}
.max-width,
.tab-content {
  width: 100%;
}
.is-flex {
  display: flex;
}
.flex-scroll {
  flex: 1 1 auto;
  overflow-y: scroll;
  min-height: 100px;
}
.hidden-x {
  overflow-x: hidden;
}
.inner-card {
  padding: 0;
}
.card-padding {
  padding: 8px;
}
.auto-flex {
  flex: 1 1 auto;
}
.bottom-padding-8 {
  padding-bottom: 8px;
}
.hover-cursor:hover {
  cursor: pointer;
}
[flex="25"] {
  flex: 0 0 25%!important;
}
[flex="55"] {
  flex: 0 0 55%!important;
}
[flex="20"] {
  flex: 0 0 20%!important;
}
[flex="8"] {
  flex: 0 0 8.33%!important;
}
.inline-link {
  cursor: pointer;
  color: #03A9F4;
  text-decoration: underline;
}

#login-tabs .tab {
  height: 300px;
  padding: 5px;
  padding-left: 20px;
}
#login-tabs .box-text {
  margin-top: 15px;
}

body {
  background-color: #fff;
}

#player-tabs {
  display: flex;
}
#player-tabs .tabs-content,
#player-tabs .tab-content,
#player-tabs .tab {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
#player-tabs .item-line {
  margin-left: 10px;
}
#player-tabs .vital-stat {
  padding-bottom: 8px;
}
#player-tabs md-list {
  padding: 0;
}
#player-tabs .xeditable-form-button {
  margin-left: 5px;
}
#player-tabs .adventure-log-entry {
  min-height: 70px;
}
.player-xp .container {
  background-color: #a3e9a4;
  margin-top: -5px;
}
.bar.bar2 {
  background-color: #0a7e07;
}
