
.icon-snow:before { content: '\e800'; } /* '' */
.icon-water:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-trophy:before { content: '\e803'; } /* '' */
.icon-compass-circled:before { content: '\e804'; } /* '' */
.icon-network:before { content: '\e805'; } /* '' */
.icon-hourglass:before { content: '\e806'; } /* '' */
.icon-feather:before { content: '\e807'; } /* '' */
.icon-book:before { content: '\e808'; } /* '' */
.icon-magnet:before { content: '\e809'; } /* '' */
.icon-theatre:before { content: '\e80a'; } /* '' */
.icon-universal-access:before { content: '\e80b'; } /* '' */
.icon-signal:before { content: '\e80c'; } /* '' */
.icon-chart-bar:before { content: '\e80d'; } /* '' */
.icon-qq:before { content: '\e80e'; } /* '' */