
.icon-snow:before { content: '\e800'; } /* '' */
.icon-water:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-trophy:before { content: '\e803'; } /* '' */
.icon-compass-circled:before { content: '\e804'; } /* '' */
.icon-network:before { content: '\e805'; } /* '' */