.text-center {
  text-align: center;
}

.text-red {
  color: #b0120a;
}

.text-blue {
  color: #3a46b1;
}

.text-yellow {
  color: #cddc39;
}

.text-green {
  color: #259b24;
}

.text-gold {
  color: #827717;
}

.no-margin-left {
  margin-left: 0!important;
}

.vertical-center {
  vertical-align: middle;
}

.wrap-container {
  flex-wrap: wrap;
}