#player-tabs {

  display: flex;

  .tabs-content, .tab-content, .tab {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .item-line {
    margin-left: 10px;
  }

  .vital-stat {
    padding-bottom: 8px;
  }

  md-list {
    padding: 0
  }

  .xeditable-form-button {
    margin-left: 5px;
  }

  .adventure-log-entry {
    min-height: 70px;
  }
}

.player-turn {
  .inset {
    background-color: #4285f4 !important;
  }

  .mask .fill {
    background-color: #7c4dff!important;
  }
}

.player-xp .container {
  background-color: #a3e9a4;
  margin-top: -5px;
}

.bar.bar2 {
  background-color: #0a7e07;
}