script(id='login', type='text/ng-template')
   div(layout="vertical", layout-fill, flex="50", offset="25", id="login-tabs")
      div(layout="vertical")
         section.md-whiteframe-z1
            md-tabs(selected="selectedIndex")
               md-tab(on-select="selectTab(0)",label="Login",ng-disabled="isSubmitting")
                  div.tab(layout="horizontal",layout-fill,layout-align="left center", ng-include="'login-login'")

               md-tab(on-select="selectTab(1)",label="Register",ng-disabled="isSubmitting")
                  div.tab(layout="horizontal",layout-fill,layout-align="left center", ng-include="'login-register'")

               md-tab(on-select="selectTab(2)",label="Advanced Login",ng-disabled="isSubmitting")
                  div.tab(layout="horizontal",layout-fill,layout-align="left center", ng-include="'login-advlogin'")

script(id='login-login', type='text/ng-template')
   div.tab-text(flex="25", layout="vertical")
      form
         md-text-float(label="Character Name",ng-model="login.name")
         md-text-float(label="Password",ng-model="login.password",type="password")
         md-checkbox.no-margin-left(ng-model="login.remember") Remember Me
         md-button.md-button-raised.md-button-colored.md-theme-green(ng-disabled="isSubmitting",ng-click="doLogin()")
            span(ng-if="!isSubmitting") Log In
            span(ng-if="isSubmitting") Logging in...
   div.tab-text.box-text(flex="50", offset="15", layout="vertical", layout-align="space-around center")
      div Welcome to Idle Lands!
      div.text-center
         span If you've previously registered a character, log in here. Otherwise, head over to&nbsp;
         a.inline-link(ng-click="selectTab(1)") the Register tab
         span &nbsp;to make a new character!
      div.text-center.md-theme-yellow
         div(ng-show="login.remember") Note! This caches your credentials in localStorage, which is super insecure! Do not check this if this isn't your computer!

script(id='login-register', type='text/ng-template')
   div.tab-text(flex="25", layout="vertical")
      form
         md-text-float(label="Character Name",ng-model="register.name")
         md-text-float(label="Password",ng-model="register.password",type="password")
         md-checkbox.no-margin-left(ng-model="register.remember") Remember Me
         md-button.md-button-raised.md-button-colored.md-theme-green(ng-disabled="isSubmitting",ng-click="doRegister()")
            span(ng-if="!isSubmitting") Register
            span(ng-if="isSubmitting") Registering...
   div.tab-text.box-text(flex="50", offset="15", layout="vertical", layout-align="space-around center")
      div Welcome to Idle Lands!
      div.text-center
         span Register your character here! Just put in a name and a password, and you're ready to go!
      div.text-center.md-theme-yellow
         div(ng-show="register.remember") Note! This caches your credentials in localStorage, which is super insecure! Do not check this if this isn't your computer!

script(id='login-advlogin', type='text/ng-template')
   div.tab-text(flex="25", layout="vertical")
      form
         md-text-float(label="Identifier",ng-model="advLogin.identifier")
         md-text-float(label="Password",ng-model="advLogin.password",type="password")
         md-checkbox.no-margin-left(ng-model="advLogin.remember") Remember Me
         md-button.md-button-raised.md-button-colored.md-theme-green(ng-disabled="isSubmitting",ng-click="doAdvancedLogin()")
            span(ng-if="!isSubmitting") Log In
            span(ng-if="isSubmitting") Logging in...
   div.tab-text.box-text(flex="50", offset="15", layout="vertical", layout-align="space-around center")
      div Welcome to Idle Lands!
      div.text-center
         span This area is for people who know their identifier and would like to log in from a different location. Identifiers are unique per location (ie, irc.esper.net#seiyria) so if you know your identifier, you can log in with a character created elsewhere!
      div.text-center.md-theme-yellow
         div(ng-show="advLogin.remember") Note! This caches your credentials in localStorage, which is super insecure! Do not check this if this isn't your computer!
