
script(id="pet-overview", type="text/ng-template")
   div.tab-containment.is-flex.auto-flex.wrap-container(layout="row")
      div(flex="30",layout="column")
         md-card.inner-card(layout="column")
            md-card-content
               md-toolbar.md-theme-light-blue
                  div.md-toolbar-tools
                     h3 Vitals
               md-content.card-padding
                  div(ng-if="!pet")
                     span No Pets Purchased
                  div(layout="row",ng-if="pet")
                     div.vital-stat(flex="33")
                        span.fa.fa-fw.fa-heart.fa-lg.text-red.vertical-center
                           md-tooltip Max HP
                        span &nbsp;
                        small {{pet.hp.maximum | number:0 }}
                     div.vital-stat(flex="33")
                        span.fa.fa-fw.fa-magic.fa-lg.text-blue.vertical-center
                           md-tooltip Max MP
                        span &nbsp;
                        small {{pet.mp.maximum | number:0}}
                     div.vital-stat(flex="33")
                        span.fa.fa-fw.fa-asterisk.fa-lg.text-yellow.vertical-center
                           md-tooltip Special Stat
                        span &nbsp;
                        small {{pet.special.name || 'None'}}
                  div(layout="row",ng-if="pet")
                     div.vital-stat(flex="25")
                        span.fa.fa-fw.icon-money.fa-lg.text-gold.vertical-center
                           md-tooltip Gold
                        span &nbsp;
                        small {{pet.gold.__current | number:0}}

                  div.wrap-container(layout="row",ng-if="pet")
                     div.vital-stat(ng-repeat="stat in equipmentStatArray",flex="25")
                        span.fa.fa-fw.fa-lg.vertical-center(class="{{stat.fa}}")
                           md-tooltip {{stat.name}}
                        span &nbsp;
                        small(class="{{valueToColor(pet._statCache[stat.name])}}") {{pet._statCache[stat.name] || 0 | number:0}}

         md-card.inner-card(layout="column")
            md-card-content
               md-toolbar.md-theme-light-blue
                  div.md-toolbar-tools
                     h3 Controls
               md-content.card-padding
                  div(layout="column")
                     div.vital-stat
                        span.fa.fa-fw.fa-dashboard
                        md-button.inline-button.md-accent(ng-click="toPlayerView()") Swap to Player View
                     div.vital-stat
                        span.fa.fa-fw(class="fa-{{getSmartIcon('Sell')}}")
                        md-button.inline-button.md-primary(ng-click="toggleSmart('Sell')") Smart Sell
                           md-tooltip Low-quality items are sold first.
                     div.vital-stat
                        span.fa.fa-fw(class="fa-{{getSmartIcon('Equip')}}")
                        md-button.inline-button.md-primary(ng-click="toggleSmart('Equip')") Smart Equip
                           md-tooltip High-quality gear is auto-equipped.
                     div.vital-stat
                        span.fa.fa-fw(class="fa-{{getSmartIcon('Self')}}")
                        md-button.inline-button.md-primary(ng-click="toggleSmart('Self')") Smart Self
                           md-tooltip Pet upgrades itself.
                     div.vital-stat
                        span.fa.fa-fw.icon-money
                        md-button.inline-button.md-primary(ng-click="takePetGold()") Take Pet Gold
                     div.vital-stat
                        span.fa.fa-fw.fa-cutlery
                        md-button.inline-button.md-primary(ng-click="feedPet()") Feed Pet
                     div.vital-stat
                        span.fa.fa-fw.fa-shield
                        select(ng-model="pet.professionName",ng-options="val for val in availablePetClasses()",ng-change="changePetClass()")

         md-card.inner-card(layout="column")
            md-card-content.is-flex.auto-flex(layout="column")
               md-toolbar.md-theme-light-blue
                  div.md-toolbar-tools
                     h3 Miscellaneous
               md-content.card-padding
                  div(ng-if="!pet")
                     span No Pets Purchased
                  div(layout="column",ng-if="pet")
                     div
                        span.fa.fa-fw.fa-clock-o
                        span &nbsp;{{pet.creator.name}} originally found this pet <span am-time-ago='pet.createdAt'></span>
                           md-tooltip {{pet.createdAt | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
                     div
                        span.fa.fa-fw(class="fa-{{getTypeIcon(pet)}}")
                        span &nbsp;{{pet._configCache.category}}
                     div
                        span.fa.fa-fw(class="fa-{{getGenderFor(pet)}}")
                        span &nbsp;{{pet.gender}}
                     div
                        span.fa.fa-fw.fa-link
                        span &nbsp;Max Item Score: {{pet._baseStats.itemFindRange | number:0}}
                     div(ng-if="pet.nextItemFind")
                        span.fa.fa-fw.fa-refresh
                        span &nbsp;Next item find <span am-time-ago='pet.nextItemFind'></span>

      div(flex="30",layout="column")
         md-card.is-flex.auto-flex.inner-card(layout="column")
            md-card-content.is-flex.auto-flex(layout="column")
               md-toolbar.md-theme-light-blue(ng-if="availablePets().length !== 0")
                  div.md-toolbar-tools
                     h3 Unpurchased Pets
               md-content.is-flex.auto-flex.card-padding(style="flex-basis:60px;height:60px",layout="column",ng-if="availablePets().length !== 0")

                  div.is-flex.auto-flex.adventure-log-item(style="align-items:center",flex="100",ng-repeat="pet in availablePets()",layout="row")
                     div.vertical-center.text-center.faa-parent(flex="10",ng-class="{'text-green hover-cursor animated-hover': canBuyPet(pet), 'text-red': !canBuyPet(pet)}")
                        span.fa.fa-fw.fa-lg.icon-money.faa-shake(ng-click="tryToBuyPet(pet)")
                     div(flex="90") Unlock {{pet.type}} - {{pet.cost | number:0}} gold

               md-toolbar.md-theme-light-blue(ng-if="pets.length")
                  div.md-toolbar-tools
                     h3 Your Pets
               md-content.is-flex.auto-flex(style="flex-basis:60px;height:60px",layout="column",ng-if="pets.length")
                  div.is-flex.auto-flex.adventure-log-item(style="align-items:center",flex="100",ng-repeat="pet in getPetsInOrder()",layout="row")
                     div.vertical-center.text-center.faa-parent.animated-hover.hover-cursor(flex="10")
                        span.fa.fa-fw.fa-lg.fa-certificate.faa-spin(ng-class="{'text-green': pet.isActive, 'text-gray': !pet.isActive}",ng-click="doPetSwap(pet.createdAt)")
                     div(flex="90")
                        div {{pet.name}}, the {{pet.type}}
                        div Level {{pet.level.__current}} {{pet.professionName}}
                        div Inventory {{pet.inventory.length}}/{{pet._configCache.scale.inventory[pet.scaleLevel.inventory]}}

      div(flex="40",layout="column")
         md-card.is-flex.auto-flex.inner-card(layout="column")
            md-card-content.is-flex.auto-flex(layout="column")
               md-toolbar.md-theme-light-blue
                  div.md-toolbar-tools
                     h3 Upgrade Levels
               md-content.is-flex.auto-flex.card-padding(style="flex-basis:20px;height:20px",layout="column")
                  div(ng-if="!pet") No Pets Purchased
                  table(ng-if="pet")
                     tr
                        th Stat
                        th Level
                        th Gift
                        th
                     tr(ng-repeat="(stat, level) in pet.scaleLevel")
                        td {{petUpgradeData[stat].stat}}
                        td
                           span {{pet.scaleLevel[stat]+1}}/{{pet._configCache.scale[stat].length}}
                        td
                           span {{petUpgradeData[stat].gift.split('%gift').join(formatGift(stat, pet._configCache.scale[stat][pet.scaleLevel[stat]]))}}
                        td
                           md-button.inline-button.md-accent(ng-disabled="pet.scaleLevel[stat]+1 === pet._configCache.scale[stat].length",ng-click="upgradeStat(stat)") Upgrade
                              md-tooltip Next Level Cost: {{pet._configCache.scaleCost[stat][pet.scaleLevel[stat]+1] | number:0}} gold

script(id="buy-pet",type="text/ng-template")
   md-dialog
      md-content
         md-subheader.md-sticky-no-effect
            h2 Procure a New Pet: {{petType}}
         div(layout="row")
            div
            md-input-container
               label Name
               input(ng-model="newPet.name")
            md-input-container
               label First Attribute
               input(ng-model="newPet.attr1")
            md-input-container
               label Second Attribute
               input(ng-model="newPet.attr2")

      div.md-actions(layout="row")
         md-button(ng-click="cancel()") Cancel
         md-button.md-primary(ng-click="purchase()") Purchase