script(id="player-battle",type="text/ng-template")
   div.tab-containment.is-flex.auto-flex.wrap-container(layout="horizontal")
      div(flex="30",layout="vertical")
         md-card.inner-card(layout="vertical")
            md-toolbar.md-theme-light-blue
               div.md-toolbar-tools
                  h3 Teams ({{currentBattle.name}})
            md-content.card-padding
               div(layout="vertical")
                  div(ng-repeat="team in currentBattle.teams")
                     h3 Team "{{team.name}}"
                     table
                        tr(ng-repeat="member in team.members")
                           td {{member.name}}
                           td {{member.level}}
                           td {{member.profession}}

      div(flex="70",layout="vertical")
         md-card.is-flex.auto-flex.inner-card(layout="vertical")
            md-toolbar.md-theme-light-blue
               div.md-toolbar-tools
                  h3 Combat Log ({{currentBattle.name}})
            md-content.is-flex.auto-flex(style="flex-basis:40px",layout="vertical")
               div.is-flex.top-margin-5(style="margin-top:40px;padding-left:10px;align-items:center",flex="100",ng-repeat="message in currentBattle.messages track by $index",layout="horizontal")
                  htmldiv(content="filterMessage(message)")