script(id="player-equipment", type="text/ng-template")
    md-list.flex-scroll.has-height
        md-item(ng-repeat="item in playerItems track by $index")
            ng-include(src="'item-tpl'")
            md-divider(ng-if="!$last")
    //md-tabs.auto-flex.md-background(layout="column",md-align-tabs="bottom")
        md-tab.is-flex.auto-flex(label="Equipment")
            md-list.flex-scroll.has-height
                md-item(ng-repeat="item in playerItems track by $index")
                    ng-include(src="'item-tpl'")
        md-tab.is-flex.auto-flex(label="Inventory ({{inventory.length}})")
            md-list.flex-scroll.has-height
                md-item(ng-repeat="item in inventory track by $index")
                    ng-include(src="'item-tpl'")
        md-tab.is-flex.auto-flex(label="Shop ({{shop.length}})", ng-if="shop.length")
            md-list.flex-scroll.has-height
                md-item(ng-repeat="item in shop track by $index")
                    ng-include(src="'item-tpl'")

script(type="text/ng-template",id="item-tpl")
    md-item-content.item-container
        div.md-tile-left.class-badge.text-center.align-left-list-item
            div(class="{{itemUtilities.classToColor(item.itemClass)}}") {{::item.type}}
                md-tooltip {{item.itemClass}}
            div(ng-if="::item.extraItemClass",class="{{::itemUtilities.classToColor(item.extraItemClass)}}") {{item.extraText}}

            //equipped
            div.text-center(ng-if="!item.extraItemClass && !item.hideButtons && item.type !== 'providence'")
                span.hover-cursor.fa.fa-fw.fa-caret-square-o-down(ng-click="invItem(item)")
                    md-tooltip Add to Inventory

            //in overflow
            div.text-center(ng-if="_.isNumber(item.overflowSlot)")
                span.hover-cursor.fa.fa-fw.icon-money.text-red(ng-if="::item.extraItemClass",ng-click="sellItem(item)")
                    md-tooltip Sell
                span.hover-cursor.fa.fa-fw.fa-exchange(ng-if="::item.extraItemClass",ng-click="swapItem(item)")
                    md-tooltip Swap
                span.hover-cursor.fa.fa-fw.fa-paw(ng-if="::item.extraItemClass",ng-click="sendToPet(item)")
                    md-tooltip Send to pet

            //in shop
            div.text-center(ng-if="_.isNumber(item.shopSlot)")
                span.hover-cursor.fa.fa-fw.icon-money.text-green(ng-if="::item.extraItemClass",ng-click="buyItem(item)")
                    md-tooltip Buy

        div.md-tile-content.item-line
            div
                h3.super-bold {{item.enchantLevel ? '+'+item.enchantLevel+' ' : ''}} {{item.name}}
            div
                small.text-subdued(ng-if="item.foundAt")
                    span Found
                    span &nbsp;
                    span(am-time-ago="item.foundAt")
                    span , with a Player Relativity of
                    span &nbsp;{{playerItemScore(item)}}%&nbsp;
                    span and an Item Relativity of
                    span &nbsp;{{itemItemScore(item)}}%
            div.top-margin-5.wrap-container(layout="row")
                span.vital-stat(ng-repeat="stat in ::itemUtilities.equipmentStatArray",flex="16",ng-class="{'text-tertiary': item[stat.name] === 0 && item[stat.name+'Percent'] === 0}")
                    span.fa.fa-fw.fa-lg(class="{{::stat.fa}}")
                        md-tooltip {{::stat.name}}
                    span &nbsp;
                    small(class="{{valueToColor(item[stat.name])}}") {{item[stat.name]}}
                    small &nbsp;/&nbsp;
                    small(class="{{valueToColor(item[stat.name+'Percent'])}}") {{item[stat.name+'Percent']}}%
            div.top-margin-5
                small {{itemUtilities.getExtraStats(item)}}
