script(id="player-guild", type="text/ng-template")

    div.tab-containment.is-flex.auto-flex.wrap-container.has-height(layout="row",ng-if="!currentlyInGuild")
        div(flex="40",offset="30",layout="column")
            md-card(layout="column")
                md-card-content(layout="column")
                    md-toolbar
                        div.md-toolbar-tools
                            h3 Create New Guild (costs 100k gold)
                    md-content.is-flex.auto-flex(style="flex-basis:80px;height:80px;overflow-x:hidden;align-items:center",layout="row")
                        md-input-container(flex="75",offset="5")
                            label Guild Name
                            input(ng-model="editable.guildName")
                        div(flex="20")
                            md-button.md-primary(ng-click="createGuild()") Create

            md-card.is-flex.auto-flex.inner-card(layout="column",ng-if="guildInvites.length > 0")
                md-card-content.is-flex.auto-flex(layout="column")
                    md-toolbar
                        div.md-toolbar-tools
                            h3 Guild Invites
                    md-content.is-flex.auto-flex(style="flex-basis:120px;height:120px;overflow-x:hidden",layout="column")
                        div.is-flex.auto-flex.adventure-log-item(flex="100",quick-repeat-list="guildInvites",quick-ng-repeat="invite in guildInvites",layout="row")
                            div(flex="55",offset="5")
                                a(href="http://idle.land/s/guild/{{invite}}",target="_blank") {{invite}}
                            div(flex="20")
                                md-button.md-primary(ng-click="$parent.manageInvite(invite, true)") Accept
                            div(flex="20")
                                md-button.md-warn(ng-click="$parent.manageInvite(invite, false)") Reject

    div.tab-containment.is-flex.auto-flex.wrap-container.has-height(layout="row",ng-if="currentlyInGuild")
        div(flex="25",layout="column")
            md-card.inner-card(layout="column")
                md-card-content
                    md-toolbar
                        div.md-toolbar-tools
                            h3 {{::guild.name}}
                    md-content.card-padding
                        div.vital-stat
                            span.fa.fa-fw.fa-user
                            span &nbsp;Led by {{::orderedMembers[0].name}}
                        div.vital-stat
                            span.fa.fa-fw.fa-clock-o
                            span &nbsp;Founded <span am-time-ago="::guild.createDate"></span>
                        div.vital-stat
                            span.fa.fa-fw.fa-sitemap
                            span &nbsp;Level {{guild.level}}
                        div.vital-stat
                            span.fa.fa-fw.fa-envelope
                            span &nbsp;{{guild.invitesAvailable}} invites left
                        div.vital-stat
                            span.fa.fa-fw.icon-money
                            span &nbsp;{{guild.gold.__current |number:0}} gold

            md-card.inner-card(layout="column", ng-if="isAdmin")
                md-card-content
                    md-toolbar
                        div.md-toolbar-tools
                            h3 Invite Players
                    md-content.card-padding
                        div.vital-stat
                            span.fa.fa-user-plus.fa-fw
                            md-button.inline-button.md-accent.md-hue-1.md-raised(href,editable-text="editable.newMember",onaftersave="inviteMember()") {{edtiable.newMember || 'Invite a new member!'}}

            md-card.inner-card(layout="column")
                md-card-content
                    md-toolbar
                        div.md-toolbar-tools
                            h3 Actions
                    md-content.card-padding
                        div.vital-stat(ng-if="isLeader")
                            span.fa.fa-fw.fa-home(flex="10")
                            md-select.no-margin-top(ng-model="guild.base",ng-change="move()")
                                md-select-label {{guild.base}}
                                md-option(ng-value="opt.name", ng-repeat="opt in guild.validBases") {{opt.name}}
                        div.vital-stat(ng-if="!isLeader")
                            span.fa.fa-fw.fa-anchor(flex="10")
                            md-button.inline-button.md-warn.md-raised(ng-click="leaveGuild()",flex="90") Leave
                        div.vital-stat(ng-if="isLeader")
                            span.fa.fa-fw.fa-anchor(flex="10")
                            md-button.inline-button.md-warn.md-raised(ng-click="disbandGuild()") Disband
                        div.vital-stat(flex,layout="row")
                            span.fa.fa-fw.fa-usd(flex="10",style="justify-content:center;align-self:center")
                                md-tooltip Guild Tax Rate ({{editable.guildTaxRate}}%)
                            md-slider.md-accent.md-hue-1(flex="80",ng-model="editable.guildTaxRate",min="0",max="15",md-discrete,aria-label="Guild Tax Rate",ng-disabled="!isLeader",ng-change="updateGuildTax()")
                        div.vital-stat(flex,layout="row")
                            span.fa.fa-fw.fa-usd(flex="10",style="justify-content:center;align-self:center")
                                md-tooltip Self Tax Rate ({{editable.selfTaxRate}}%)
                            md-slider.md-accent.md-hue-2(flex="80",ng-model="editable.selfTaxRate",min="0",max="85",md-discrete,aria-label="Self Tax Rate",ng-change="updateSelfTax()")
                        div.vital-stat(quick-ng-repeat="tier in goldTiers",quick-repeat-list="goldTiers")
                            span.fa.fa-fw.icon-money(flex="10")
                            md-button.inline-button.md-primary.md-raised(ng-click="donateGold(tier)") Donate {{tier | number:0}} gold

        div(flex="45",layout="column")
            md-card.is-flex.auto-flex.inner-card(layout="column")
                md-card-content.is-flex.auto-flex(layout="column")
                    md-toolbar
                        div.md-toolbar-tools
                            h3 Guild Roster ({{guild.members.length}} members)
                    md-content.is-flex.auto-flex(style="flex-basis:50px;height:50px;overflow-x:hidden",layout="column")
                        div.is-flex.auto-flex.adventure-log-item(style="min-height: 50px",flex="100",quick-repeat-list="orderedMembers",quick-ng-repeat="member in orderedMembers",layout="row")
                            div.text-center.vertical-center(flex="10")
                                span.fa.fa-fw.fa-2x(class="{{iconForMember(member)}}", ng-class="{'text-green': member._cache.online, 'text-red': !member._cache.online, 'fa-rotate-90 text-tertiary': isInvited(member)}")
                                    md-tooltip {{getTooltipText(member)}}
                            div(flex="50")
                                div(ng-class="{'italic text-tertiary': isInvited(member)}") {{member.name}}
                                div(ng-if="member._cache.level && member._cache.class")
                                    small Level {{member._cache.level}} {{member._cache.class}}
                                    small(ng-if="member._cache.lastSeen && !member._cache.online") <br>Last seen <span am-time-ago="member._cache.lastSeen"></span>
                                div(ng-if="!member._cache.level && !member._cache.class && !isInvited(member)") Profile Unknown
                            div(flex="20",ng-if="!member.isAdmin && !$first")
                                md-button.md-accent.md-raised(ng-if="isLeader", ng-click="promoteMember(member.name)") Promote
                            div(flex="20",ng-if="member.isAdmin && !$first")
                                md-button.md-warn.md-raised.md-hue-2(ng-if="isLeader", ng-click="demoteMember(member.name)") Demote
                            div(flex="20")
                                md-button.md-warn.md-raised(ng-if="canKick(member)",ng-click="kickMember(member.name)") Kick
                                md-button.md-warn.md-raised(ng-if="canRescind(member)",ng-click="rescindInvite(member.identifier)") Rescind

        div(flex="30",layout="column")
            md-card.is-flex.auto-flex.inner-card(layout="column")
                md-card-content.is-flex.auto-flex(layout="column")
                    md-toolbar
                        div.md-toolbar-tools(flex="100",layout="row")
                            h3 Guild Buildings

                    md-content.is-flex.auto-flex(style="flex-basis:50px;height:50px",layout="column")
                        div.is-flex.auto-flex.adventure-log-item(flex="100",quick-repeat-list="buildings",quick-ng-repeat="building in buildings",layout="row")
                            div(flex="5")
                            div(flex="50")
                                div {{::building}}
                                div
                                    small Level {{guild.buildingLevels[building] || 0}}
                            div(flex="45",ng-if="isLeader")
                                span(ng-if="hasBuilt(building)")
                                    md-button.md-raised.md-primary(ng-disabled="!canBuild(guild.buildingLevelCosts[building])",ng-click="upgradeBuilding(building)") Upgrade
                                        md-tooltip Next Level Cost: {{guild.buildingLevelCosts[building] | number:0}} gold
                                    md-button.md-raised.md-accent(ng-if="guild._validProps[building].length",ng-click="openProps(building)") Props
                                md-button.md-raised.md-primary.md-hue-1(ng-click="constructBuilding(building)", ng-if="!hasBuilt(building)",ng-disabled="!canBuild(flatCosts[guild.base].costs.build[guild.validBuildings[building].size])") Construct
                                    md-tooltip Build Cost: {{flatCosts[guild.base].costs.build[guild.validBuildings[building].size] | number:0}} gold

script(type="text/ng-template", id="building-Academy")
    h3
        a.inline-link.fa.fa-question-circle(href="http://doks.idle.land/#!/Guild%20Buffs",target="_blank")
        | &nbsp;Guild Buffs
    div Buff Level
    md-slider.md-accent(min="1",max="{{guild.buildingGlobals.Academy.maxBuffLevel}}",ng-model="editable.buffLevel",md-discrete,aria-label="buff level")
    div.is-flex.auto-flex.adventure-log-item.bottom-margin-15(flex="100",ng-repeat="type in ::buffTypes",layout="row")
        div.text-center.vertical-center(flex="15")
            span.fa.fa-fw.fa-2x(class="{{::nameToIcon(type)}}")
        div(flex="60")
            div {{buffs[type] ? buffs[type].name : type}}
            div(ng-if="buffs[type]") Expires <span am-time-ago="buffs[type].expire"></span>
            dif(ng-if="!buffs[type]") Not Purchased
        div(flex="25")
            md-button.md-primary.md-hue-1.md-raised(ng-click="buyBuff(type)") Buy

script(type="text/ng-template", id="buildingProps")
    md-dialog
        md-content
            md-subheader.md-sticky-no-effect
                h2 {{building}} Properties
            div(layout="column")
                div(ng-repeat="prop in guild._validProps[building]")

                    div(flex="20", ng-if="prop.values") {{prop.name}}
                    div(flex="80")
                        md-input-container(ng-if="!prop.values")
                            label {{prop.name}}
                            input(type="text",ng-model="props[prop.name]")

                        md-select(ng-model="props[prop.name]",ng-if="_.isArray(prop.values)")
                            md-select-label {{props[prop.name]}}
                            md-option(ng-value="opt", ng-repeat="opt in prop.values") {{opt}}

            ng-include(src="'building-'+building")

        div.md-actions(layout="row")
            md-button.md-raised(ng-click="close()") Close
            md-button.md-primary.md-raised(ng-click="save()") Confirm

script(type="text/ng-template", id="construct")
    md-dialog
        md-content
            md-subheader.md-sticky-no-effect
                h2 Choose a Slot for {{building}}

            md-radio-group(ng-model="slot")
                md-radio-button(ng-repeat="slot in takenSlots track by $index", ng-value="$index") {{slot || 'empty'}}

            div.md-actions(layout="row")
                md-button.md-raised(ng-click="close()") Close
                md-button.md-primary.md-raised(ng-click="save()") Confirm