script(id="player-options", type="text/ng-template")
   div.tab-containment.is-flex.auto-flex.wrap-container(layout="horizontal")
      div(flex="25",layout="vertical")
         md-card.inner-card(layout="vertical")
            md-toolbar.md-theme-light-blue
               div.md-toolbar-tools
                  h3 Player Options
            md-content.card-padding
               div.vital-stat
                  span.fa.fa-fw.fa-sign-out.fa-lg.vertical-center
                  span &nbsp;
                  small
                     a.inline-link(ng-click="logout()") Log Out

         md-card.inner-card(layout="vertical")
            md-toolbar.md-theme-light-blue
               div.md-toolbar-tools
                  h3 PushBullet
            md-content.card-padding
               a(href,editable-text="player.pushbulletApiKey") {{player.pushbulletApiKey || 'No PushBullet API key set'}}

      div(flex="60",layout="vertical")
         md-card.inner-card(layout="vertical")
            md-toolbar.md-theme-light-blue
               div.md-toolbar-tools
                  h3 Custom Strings
            md-content.card-padding
               table
                  tr(ng-repeat="key in strings.keys track by $index")
                     td(width="15%")
                        span(href,editable-text="strings.keys[$index]") {{strings.keys[$index] || 'Add new...'}}
                     td(width="65%")
                        span(href,editable-text="strings.values[$index]",ng-if="strings.keys[$index]") {{strings.values[$index] || '(not set)'}}
                     td.text-right(width="10%")
                        span.fa.fa-large.fa-trash.text-red.hover-cursor(ng-if="strings.keys[$index]", ng-click="removeString(strings.keys[$index], $index)")

      div(flex="15",layout="vertical")
         md-card.inner-card(layout="vertical")
            md-toolbar.md-theme-light-blue
               div.md-toolbar-tools
                  h3 Scrollback.io
            md-content.card-padding
               md-switch(ng-model="options.scrollback",ng-true-value="'true'",ng-false-value="'false'") Use Chat

         md-card.inner-card(layout="vertical")
            md-toolbar.md-theme-light-blue
               div.md-toolbar-tools
                  h3 External Links
            md-content.card-padding
               div
                  div.vital-stat
                     span.fa.fa-fw.fa-bar-chart.fa-lg.vertical-center
                     span &nbsp;
                     small
                        a.inline-link(target="_blank",href="http://idle.land/s/analytics/{{player.name}}") Your Analytics
                  div.vital-stat
                     span.fa.fa-fw.fa-reddit.fa-lg.vertical-center
                     span &nbsp;
                     small
                        a.inline-link(target="_blank",href="http://reddit.com/r/idle_lands") /r/idle_lands
                  div.vital-stat
                     span.fa.fa-fw.fa-github.fa-lg.vertical-center
                     span &nbsp;
                     small
                        a.inline-link(target="_blank",href="https://github.com/IdleLands/IdleLands") IdleLands @ GitHub
                  div.vital-stat
                     span.fa.fa-fw.fa-thumbs-up.fa-lg.vertical-center
                     span &nbsp;
                     small
                        a.inline-link(target="_blank",href="http://idle.land/s/thanks") Special Thanks