
script(id="player-player", type="text/ng-template")
   div.tab-containment.is-flex.auto-flex.wrap-container(layout="horizontal")
      div(flex="25",layout="vertical")
         md-card.inner-card(layout="vertical")
            md-toolbar.md-theme-light-blue
               div.md-toolbar-tools
                  h3 Vitals
            md-content.card-padding
               div(layout="horizontal")
                  div.vital-stat(flex="25")
                     span.fa.fa-fw.fa-heart.fa-lg.text-red.vertical-center
                        md-tooltip Max HP
                     span &nbsp;
                     small {{player.hp.maximum}}
                  div.vital-stat(flex="25")
                     span.fa.fa-fw.fa-magic.fa-lg.text-blue.vertical-center
                        md-tooltip Max MP
                     span &nbsp;
                     small {{player.mp.maximum}}
                  div.vital-stat(flex="25")
                     span.fa.fa-fw.fa-asterisk.fa-lg.text-yellow.vertical-center
                        md-tooltip Special Stat
                     span &nbsp;
                     small {{player.special.name || 'None'}}
                  div.vital-stat(flex="25")
                     span.fa.fa-fw.icon-money.fa-lg.text-gold.vertical-center
                        md-tooltip Gold
                     span &nbsp;
                     small {{player.gold.__current}}

               div.wrap-container(layout="horizontal")
                  div.vital-stat(ng-repeat="stat in equipmentStatArray",flex="25")
                     span.fa.fa-fw.fa-lg.vertical-center(class="{{stat.fa}}")
                        md-tooltip {{stat.name}}
                     span &nbsp;
                     small(class="{{valueToColor(player._statCache[stat.name])}}") {{player._statCache[stat.name] | number:0}}

         md-card.inner-card(layout="vertical")
            md-toolbar.md-theme-light-blue
               div.md-toolbar-tools
                  h3 Miscellaneous
            md-content.card-padding
               div(layout="vertical")
                  div.vital-stat
                     span.fa.fa-fw.fa-globe
                     span &nbsp;{{player.map}} ~ {{player.x}}, {{player.y}}
                  div.vital-stat
                     span.fa.fa-fw.fa-map-marker
                     span &nbsp;{{player.mapRegion}}
                  div.vital-stat
                     span.fa.fa-fw.fa-users
                     span &nbsp;{{player.partyName || 'No party'}}
                  div.vital-stat
                     span.fa.fa-fw.fa-sitemap
                     span &nbsp;{{player.guild || 'No guild'}}
                  div
                     span.fa.fa-fw.fa-clock-o
                     span &nbsp;Started&nbsp;
                     span(am-time-ago="player.registrationDate")
                        md-tooltip {{player.registrationDate}}

      div(flex="55",layout="vertical")
         md-card.is-flex.auto-flex.inner-card(layout="vertical")
            md-toolbar.md-theme-light-blue
               div.md-toolbar-tools
                  h3 Adventure Log
            md-content.is-flex.auto-flex(style="flex-basis:80px",layout="vertical")
               div.is-flex.top-margin-5(style="margin-top:70px;align-items:center",flex="100",ng-repeat="event in player.recentEvents | reverse",layout="horizontal")
                  div.fa-stack.vertical-center(flex="10")
                     span.fa.fa-fw.fa-stack-2x(ng-repeat="item in $parent.eventTypeToIcon[event.type]",class="{{item}}")
                  div(flex="90")
                     small(am-time-ago="event.createdAt")
                     div {{event.message}}

      div(flex="20",layout="vertical")
         md-card.is-flex.auto-flex.inner-card(layout="vertical")
            md-toolbar.md-theme-light-blue
               div.md-toolbar-tools
                  h3
                     a.fa.fa-question-circle(href="https://github.com/IdleLands/IdleLands/wiki/Personalities",target="_blank") &nbsp;Your Personalities
            md-content.is-flex.auto-flex(style="flex-basis:50px",layout="vertical")
               div.is-flex.auto-flex(ng-repeat="personality in player.achievements | filter:{type:'personality'}")
                  div(flex="30")
                     md-switch(ng-model="personalityToggle[personality._personality]")
                  div(flex="70")
                     div(style="margin-top:10px") {{personality._personality}}