script(id='player', type='text/ng-template')
   md-toolbar.md-theme-light
      h1.md-toolbar-tools
         md-progress-circular.player-turn.md-theme-yellow(mode="determinate",value="{{turnTimeValue}}",style="float:right")
         span {{player.name}}, the level {{player.level.__current}} {{player.professionName}}

   md-progress-linear.player-xp(mode="determinate",ng-value="xpPercent",md-theme="green")

   div.auto-flex.md-whiteframe-z1.is-flex(id="player-tabs")
      md-tabs.is-flex.auto-flex(selected="selectedIndex",layout="vertical")
         md-tab(ui-sref="player.overview",label="Player")
            div.tab(ui-view="overview")

         md-tab(ui-sref="player.map",label="Map")
            div.tab(ui-view="map")

         md-tab(ui-sref="player.equipment",label="Equipment")
            div.tab(ui-view="equipment")

         md-tab(ui-sref="player.battle",label="Battle")
            div.tab(ui-view="battle")

         md-tab(ui-sref="player.achievements",label="Achievements ({{player.achievements.length}})")
            div.tab(ui-view="achievements")

         md-tab(ui-sref="player.statistics",label="Statistics")
            div.tab(ui-view="statistics")

         md-tab(ui-sref="player.options",label="Options")
            div.tab(ui-view="options")

<script>window.scrollback = {room:"idlelands",form:"canvas",theme:"dark",minimize:true};(function(d,s,h,e){e=d.createElement(s);e.async=0;e.src=(location.protocol === "https:" ? "https:" : "http:") + "//scrollback.io/client.min.js";d.getElementsByTagName(s)[0].parentNode.appendChild(e);}(document,"script"));</script>
