script(id='player', type='text/ng-template')
   md-toolbar.md-theme-light
      h1.md-toolbar-tools
         span {{player.name}}, the level {{player.level.__current}} {{player.professionName}}

   md-progress-linear.player-xp(mode="determinate",ng-value="xpPercent",md-theme="green")

   div.auto-flex.md-whiteframe-z1.is-flex(id="player-tabs")
      md-tabs.is-flex.auto-flex(selected="selectedIndex",layout="vertical")
         md-tab(on-select="selectTab(0)",label="Player")
            div.tab(ng-include="'player-player'")

         md-tab(on-select="selectTab(1)",label="Equipment")
            div.tab(ng-include="'player-equipment'")

         md-tab(on-select="selectTab(2)",label="Achievements ({{player.achievements.length}})")
            div.tab(ng-include="'player-achievements'")

         md-tab(on-select="selectTab(3)",label="Statistics")
            div.tab(ng-include-"'player-statistics'")

         md-tab(on-select="selectTab(4)",label="Options")
            div.tab(ng-include="'player-options'")