script(id='login', type='text/ng-template')
   div(layout="vertical", layout-fill, flex="50", offset="25", id="login-tabs")
      md-card(layout,layout-fill,layout-align="center")
         md-tabs(selected="selectedIndex")
            md-tab(on-select="selectTab(0)",label="Login",ng-disabled="isSubmitting")
               div.tab(layout="horizontal",layout-fill,layout-align="left center", ng-include="'login-login'")

            md-tab(on-select="selectTab(1)",label="Register",ng-disabled="isSubmitting")
               div.tab(layout="horizontal",layout-fill,layout-align="left center", ng-include="'login-register'")

            md-tab(on-select="selectTab(2)",label="Advanced Login",ng-disabled="isSubmitting")
               div.tab(layout="horizontal",layout-fill,layout-align="left center", ng-include="'login-advlogin'")